<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>RegistrationMVC</display-name>
    <welcome-file-list>
        <welcome-file>login-register.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>RegisterServlet</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ForgotPasswordServlet</display-name>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <!--context-param> 
        <description>Location to store uploaded file</description> 
        <param-name>file-upload</param-name> 
        <param-value>
            C:\Program Files\Apache Software Foundation\Apache Tomcat 8.0.27\webapps\data\
        </param-value> 
    </context-param-->
</web-app>
